.auth-layout{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
}
.auth-layout::-webkit-scrollbar{
    display: none;
}
.auth-layout button.select-language{
    right: 0;
    padding: 8px;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid silver;
}